<div class="bg-white mt-6">
  <div class="container px-6 py-8 mx-auto">
    <h2 class="text-3xl font-semibold text-gray-800 md:text-3xl text-center">Add new <span class="text-indigo-600">subscriptions</span></h2>

    <% @prices.each do |price| %>
      <div class="mt-6 space-y-8 xl:mt-4">
        <div class="flex items-center justify-between max-w-2xl px-8 py-4 mx-auto border rounded-xl dark:border-gray-700">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400 sm:h-9 sm:w-9" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>

                <div class="flex flex-col items-center mx-5 space-y-1">
                  <h2 class="text-lg font-medium text-green-700 sm:text-1xl dark:green-200"><%= price.product.name %></h2>
                </div>
            </div>

            <h2 class="text-2xl font-semibold text-gray-500 sm:text-4xl dark:text-b-300 items-center flex">
              <%= price.unit_amount/100 %>
              <span class="text-base font-medium px-2"><%= price.currency.upcase %></span>
              <% if price.recurring&.interval %>
                <span class="text-base font-medium">/<%= price.recurring&.interval %></span>
              <% end %>
            </h2>
            <%= button_to 'Subscribe', subscription_checkout_path(price_id: price.id), data: { turbo: 'false' }, class: 'ml-2 px-8 py-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80' %>
        </div>
      </div>
    <% end %>
  </div>
</div>